/Squares and Cubes/squares_plot.png
/Plotly/d6.html
/Plotly/d6_d6.html
/Plotly/d6_d10.html
/Plotly/d6^2.html
/Plotly/d6_d6_d6.html
/Plotly/d8_d8.html
/Downloading Data/global_earthquakes.html
/Downloading Data/data/readable_eq_data.json
/Working with APIs/python_repos.html
/Working with APIs/data/readable_hn_data.json
/Working with APIs/hacker_news_comments.html
/Downloading Data/data/
